.wrapper{
    margin-top: 100px;
 }
 .wrapper .sidebar{
     
     width: 200px;
     background: #011c24;
     padding: 30px 0;
    
 }
 .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
 }
 .wrapper .sidebar ul li{
     padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225 ,0.05);
    list-style: none;
    color: #fff;
 }
 .wrapper .sidebar ul li a{
     color: #bdb8d7;
     display: block;
 }
 .wrapper .sidebar ul li a .fas{
     width: 25px;
 }
 .wrapper .sidebar ul li:hover{
     background: #044d63;
    
 }
 .wrapper .sidebar ul li:hover a{
     color:#fff,
 }
 
 